In [1]:
# to handle datasets
import pandas as pd
import numpy as np

# for plotting
import matplotlib.pyplot as plt

# to display all the columns of the dataframe in the notebook
pd.pandas.set_option('display.max_columns', None)

## Loading the Dataset

In [3]:
# load dataset
leads = pd.read_csv("data/leads.csv")
closed = pd.read_csv("data/closed.csv")

print(leads.shape)
leads.head()

(8000, 4)

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

Creating a new table "convert" that identifies the converted leads.   
if lead is convereted data['convert']=1  
else data['convert']=0

In [4]:
closed['convert'] = 1
print(closed.shape)
closed.head()

(842, 15)

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,convert
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0,1
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0,1
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0,1
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0,1
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0,1

In [7]:
data = pd.merge(leads, closed, how='outer', on = 'mql_id')
data['convert'].fillna(0, inplace=True)
data.shape

(8000, 18)

#### We will analyse the dataset to identify:

1. Missing values  
2. Numerical variables 
3. Temporal Variables
4. Categorical variables  
5. Cardinality of the categorical variables  
6. Potential relationship between the variables and the target: SalePrice

#### Missing Values

Find out the variables in the dataset that have missing values

In [10]:
data_final = data [['mql_id', 'first_contact_date', 'landing_page_id', 'origin', 'convert']].copy()

In [11]:
data_final.shape

(8000, 5)

In [14]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in data_final.columns if data_final[var].isnull().sum() > 0]

# determine percentage of missing values
data_final[vars_with_na].isnull().mean()

origin    0.0075
dtype: float64

#### Numerical Variables

In [16]:
# make list of numerical variables
num_vars = [var for var in data_final.columns if data_final[var].dtypes != 'O']

print('Number of numerical variables: ', len(num_vars))

# visualise the numerical variables
data_final[num_vars].head()

Number of numerical variables:  1

   convert
0      0.0
1      0.0
2      0.0
3      0.0
4      1.0

In [19]:
print('Total number mql_id : ', len(data_final.mql_id.unique()))
print('Total number of leads :  ', len(data_final))

Total number mql_id :  8000
Total number of leads :   8000

We will not use this variable to make our predictions, as there is one different value of the variable per each row, i.e., each lead in the dataset

#### Temporal Varaible   
We have one temporal variable in our dataset   

1. First Contact Date.

In [26]:
year_vars = ['first_contact_date']

['first_contact_date']

In [27]:
for var in year_vars:
    print(var, data[var].unique())
    print()

first_contact_date ['2018-02-01' '2017-10-20' '2018-03-22' '2018-01-22' '2018-02-21'
 '2018-01-14' '2018-05-15' '2018-05-24' '2017-11-10' '2017-12-25'
 '2018-01-24' '2018-04-30' '2018-04-04' '2018-05-23' '2018-04-03'
 '2017-12-08' '2018-02-16' '2018-01-13' '2018-01-15' '2018-02-23'
 '2017-07-25' '2017-07-13' '2018-03-12' '2018-04-14' '2017-12-31'
 '2017-09-11' '2018-05-29' '2018-05-02' '2018-04-15' '2018-05-08'
 '2018-01-26' '2018-02-22' '2018-05-11' '2018-04-18' '2017-09-26'
 '2018-03-07' '2018-03-16' '2017-09-29' '2018-01-03' '2018-05-30'
 '2018-03-28' '2018-02-05' '2018-02-17' '2017-07-06' '2018-04-19'
 '2018-04-05' '2018-02-28' '2017-10-19' '2017-10-10' '2017-08-07'
 '2017-08-10' '2017-09-12' '2018-03-06' '2017-07-10' '2018-02-08'
 '2018-01-10' '2018-01-28' '2018-05-25' '2017-10-21' '2018-01-29'
 '2018-05-09' '2018-02-20' '2018-04-26' '2018-01-05' '2017-10-09'
 '2018-05-20' '2018-04-12' '2017-07-11' '2017-07-08' '2017-09-05'
 '2017-08-27' '2018-02-06' '2017-08-24' '2017-11-14' '2017-10-18'
 '2018-01-30' '2018-05-14' '2018-04-13' '2017-10-16' '2017-11-24'
 '2018-03-24' '2017-09-15' '2018-03-21' '2018-01-01' '2018-03-20'
 '2017-11-16' '2018-04-20' '2018-04-27' '2018-03-14' '2017-11-08'
 '2018-01-08' '2018-04-23' '2017-10-26' '2017-08-22' '2018-04-02'
 '2018-01-17' '2018-01-27' '2018-04-29' '2017-07-14' '2018-05-05'
 '2017-07-07' '2017-07-20' '2018-02-04' '2017-10-27' '2018-04-09'
 '2018-04-11' '2017-08-12' '2018-03-09' '2018-03-08' '2018-05-16'
 '2018-02-19' '2018-04-17' '2018-04-28' '2017-12-14' '2017-11-13'
 '2018-01-31' '2018-01-19' '2018-01-02' '2018-03-13' '2018-03-18'
 '2017-11-30' '2018-04-01' '2017-09-19' '2018-01-25' '2018-01-23'
 '2018-02-27' '2017-07-17' '2017-10-05' '2018-03-29' '2018-01-12'
 '2017-10-23' '2017-09-25' '2018-03-01' '2018-01-07' '2018-03-27'
 '2018-05-22' '2018-03-26' '2018-05-26' '2018-05-28' '2018-04-10'
 '2017-10-07' '2017-12-06' '2018-05-07' '2017-07-31' '2018-03-11'
 '2018-02-18' '2017-10-31' '2017-09-06' '2018-05-12' '2017-10-06'
 '2018-05-31' '2018-01-18' '2017-07-21' '2018-04-16' '2018-05-17'
 '2018-05-03' '2017-12-15' '2017-09-01' '2017-11-28' '2018-01-04'
 '2018-02-26' '2017-10-03' '2018-02-13' '2017-11-09' '2017-07-27'
 '2017-09-24' '2017-08-03' '2018-01-09' '2018-03-10' '2017-10-02'
 '2017-07-16' '2018-01-16' '2017-08-15' '2017-08-31' '2018-02-12'
 '2017-08-05' '2017-12-29' '2018-05-19' '2018-01-21' '2018-04-07'
 '2017-12-30' '2017-12-20' '2018-02-14' '2017-10-25' '2017-11-18'
 '2018-03-23' '2017-09-13' '2017-08-02' '2018-05-18' '2017-11-05'
 '2018-02-11' '2017-09-22' '2017-08-01' '2018-01-20' '2018-03-19'
 '2017-07-19' '2017-08-29' '2017-11-03' '2018-02-24' '2017-12-01'
 '2017-09-08' '2017-08-30' '2018-05-01' '2018-04-24' '2018-04-06'
 '2017-11-20' '2017-11-02' '2018-02-03' '2017-11-29' '2018-04-25'
 '2017-12-18' '2017-11-06' '2017-08-21' '2018-05-10' '2017-07-30'
 '2018-02-02' '2018-03-31' '2017-12-22' '2017-11-12' '2017-09-18'
 '2017-11-23' '2017-09-14' '2017-10-22' '2018-05-27' '2018-02-25'
 '2017-11-17' '2017-11-01' '2018-02-15' '2018-03-15' '2018-03-05'
 '2017-08-28' '2017-11-21' '2018-05-21' '2017-11-11' '2017-09-28'
 '2017-10-17' '2018-02-09' '2018-01-11' '2017-09-04' '2017-11-26'
 '2017-08-16' '2018-03-30' '2018-03-17' '2018-02-10' '2018-04-21'
 '2017-08-19' '2018-02-07' '2017-11-19' '2018-03-02' '2018-04-08'
 '2017-09-03' '2017-10-30' '2017-11-25' '2018-03-03' '2017-12-26'
 '2017-08-08' '2017-07-28' '2017-07-26' '2017-07-04' '2017-12-27'
 '2017-12-02' '2017-07-29' '2017-09-20' '2017-07-18' '2017-12-24'
 '2017-11-22' '2018-05-06' '2017-09-27' '2017-11-07' '2017-08-18'
 '2017-08-23' '2017-12-07' '2017-10-24' '2017-07-22' '2017-09-21'
 '2017-07-12' '2017-12-03' '2017-11-04' '2017-11-27' '2018-05-04'
 '2017-08-09' '2017-10-04' '2018-01-06' '2017-10-11' '2017-09-17'
 '2017-10-29' '2017-08-17' '2017-08-04' '2017-08-25' '2017-07-05'
 '2017-10-08' '2017-12-23' '2017-10-13' '2017-10-28' '2017-12-04'
 '2017-07-24' '2017-12-12' '2017-11-15' '2017-09-23' '2018-03-25'
 '2017-10-15' '2017-12-09' '2017-08-14' '2017-10-01' '2018-04-22'
 '2017-12-17' '2017-07-15' '2018-05-13' '2017-06-14' '2017-07-03'
 '2017-09-09' '2017-08-20' '2017-12-28' '2018-03-04' '2017-08-11'
 '2017-09-10' '2017-06-20' '2017-09-07' '2017-08-13' '2017-12-19'
 '2017-07-02' '2017-12-11' '2017-07-23' '2017-12-05' '2017-12-16'
 '2017-10-12' '2017-09-16' '2017-08-06' '2017-08-26' '2017-12-21'
 '2017-09-30' '2017-07-09' '2017-06-16' '2017-12-13' '2017-10-14'
 '2017-09-02']

#### Categorical Variables

In [29]:
# capture categorical variables in a list
cat_vars = [var for var in data_final.columns if data_final[var].dtypes == 'O']

print('Number of categorical variables: ', len(cat_vars))

Number of categorical variables:  4

In [30]:
# let's visualise the values of the categorical variables
data[cat_vars].head()

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

#### Number of labels: cardinality

Let's evaluate how many different categories are present in each of the variables.

In [31]:
data_final[cat_vars].nunique()

mql_id                8000
first_contact_date     336
landing_page_id        495
origin                  10
dtype: int64

In [ ]:
data_final.to